# Dependency directories
node_modules/
.pnp
.pnp.js

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/
dist/

# Gatsby files
.cache/

# vuepress build output
.vuepress/dist

# Gridsome build output
dist/

# Static site builds
out/

# Storybook build outputs
.out/
storybook-static/

# Compiled directories
lib/
lib2/
compiled/

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# .vscode
.vscode/

# build directories
build/
logs/
yarn.lock

# Temporary files and directories
*.tmp
*.log
*.lock
*.json
*.tsbuildinfo
*.swp
*.swo
*.DS_Store



# Windows system files
Thumbs.db
desktop.ini



# Editor directories and files
.idea/
.vscode/
*.sublime-workspace

# Local History
.localhistory/

# Miscellaneous
*.sublime-project
*.sublime-workspace
*.sublime-settings
